.header {
      font-family: 'Josefin Sans', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      line-height: 80px;
      min-width: 560px;
      background-color: #31688a;
}